<div class="jumbotron_1" style="background-color:#837E7C">
  <center> <h1 class="display-4"> <b>Adam Johnson </b></h1>
  <p class="lead"> <i> Country Artist </i></p>
  <hr class="my-4"> </center>
</div> 
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  background: rgba(62, 57, 70, 0.88);
  
}
</style>
</head>
<body>

<center> <div class="card_a py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
</div> </center>

<br>
<br>

<center>
<h1 style="color:white">About The Artist:</h1>

<br>
  <div class="cardbb mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <p style="color:white">Adam Johnson grew up in Saskatoon, SK, obsessed with music. Influenced by everything from classic rock legends, like The Doors and The Rolling Stones, to Modern Country acts like Dierks Bentley and Luke Combs, he has a unique yet familiar take on the Country genre. Whether he is playing sing-a-longs by the fire with a cold one or bending blues licks in the bar, Adam loves playing. Drawn to rambunctious crowds, he tries to generate a party atmosphere whenever he performs, creating an exciting live experience.In May of 2021, Adam released his debut single “Come On Let’s Go” to surprising success. He spent the summer and fall supporting his song as it saw radio play across Canada. Adam received features from several radio stations and online journals, and “Come On Let’s Go” charted among the top 10 Saskatchewan country artists in airplay for August and September. In August, he also charted in the top 100 Canadian country artists. In October, he reached #1 on the Canadian Indie Country Countdown and landed in the top ten on their yearend countdown.Adam spent the end of the year working hard in the studio and is prepared to release new music throughout 2022.</p>
    </div>
  </div>
</center>
<br>

<center> <div class="card_a2 py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
</div> </center>

<br>
<br>

<center>
<h1 style="color:white">Where can you find him:</h1>

<br>
  <div class="cardbb mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <p style="color:white">Whether he is playing sing-a-longs by the fire with a cold one or bending blues licks in the bar, Adam loves playing. Drawn to rambunctious crowds, he tries to generate a party atmosphere whenever he performs, creating an exciting live experience.</p>
    </div>
  </div>
</center>
<br>

<center> <div class="card_a3 py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
</div> </center>
<br>
<br>

<center>
<h1 style="color:white">Artist History:</h1>

<br>
 <div class="cardbb mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <p style="color:white">Adam began writing music during elementary school, working hard to refine the craft ever since. He turned his primary focus towards country music in late 2019, writing several songs and performing as a country artist in 2020.</p>
    </div>
  </div>
<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Website By Cole Hanke</small>
  </div>
</footer>