<div class="jumbotron_1" style="background-color:#837E7C">
  <center> <h1 class="display-4"> <b>Adam Johnson </b></h1>
  <p class="lead"> <i> Country Artist </i></p>
  <hr class="my-4"> </center>
</div> 

<html>
<head>

<style>
body {
  background: rgba(62, 57, 70, 0.88);
  
}
</style>
</head>
<body>

<center> <div class="card_c1 py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card1-img-bottom" alt="">
  <div class="card1-body">
</div> </center>
<center>
<h3 style="color:white"> Join the email list to keep up-to-date with all concerts dates</h3>
</center>
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:##3e3946; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://usask.us7.list-manage.com/subscribe/post?u=e52e631e11ea582ade9b8a43e&amp;id=b842fce94b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<p style="color:white">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<p style="color:white">First Name </p>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<p style="color:white">Last Name </p>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e52e631e11ea582ade9b8a43e_b842fce94b" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
