<div class="jumbotron_1" style="background-color:#837E7C">
  <center> <h1 class="display-4"> <b>Adam Johnson </b></h1>
  <p class="lead"> <i> Country Artist </i></p>
  <hr class="my-4"> </center>
</div> 

<html>
<head>

<style>
body {
  background: rgba(62, 57, 70, 0.88);
  
}
</style>
</head>
<body>
<center>
<h4 style="color:white"> <i> Be the first to hear about shows and new music </i></h4>
<a href="fan_club.html" button type="button" class="btn btn-secondary">Join The Party</button> </a>
</center>
<!-- here !-->
<br>
<center>
<h2 style="color:white"> <b> Listen to my Ep!</b></h2> 
<div class="card_album py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card_album-img-top" alt="">
  <div class="card_album-body">
</div> 
</center>
<center>
<div class="card-footer text-muted mx-auto">
      <a href="https://distrokid.com/hyperfollow/adamjohnson2/come-on-lets-go-2" button type="button" class="btn btn-secondary">Listen</button> </a>
</div>
</center>
<center>
<!-- here !-->
<br>
<br>
<br>
<center> <div class="card py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
</div> </center>
<center>
<div class="card-footer text-muted mx-auto">
      <a href="about.html" button type="button" class="btn btn-secondary">Find Out More</button> </a>
</div>
</center>
<br>
<br>
<center> <div class="card1 py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card1-img-bottom" alt="">
  <div class="card1-body">
</div> </center>
<center>
<div class="card-footer text-muted mx-auto">
      <a href="updates.html" button type="button" class="btn btn-secondary">Updates</button> </a>
</div>
</center>

<center> <div class="card3 py-4 text-white" style="max-width: 50rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">

</div> </center>
<center>
<div class="card-footer text-muted mx-auto">
      <a href="updates.html" button type="button" class="btn btn-secondary">Contact</button> </a>
</div>
</center>

<!-- !-->



<footer id="sticky-footer" class="py-4 text-white">
  </div>
</div>
    <small><a href=" https://www.facebook.com/adamj.johnsonmusic/">FaceBook </small>
  </div>
  <center>
  <div class="container text-center">
  <div class="cardl mb-3">>
  <div class="cardl-body">
</center>
</footer>
