<div class="jumbotron_1" style="background-color:#837E7C">
  <center> <h1 class="display-4"> <b>Adam Johnson </b></h1>
  <p class="lead"> <i> Country Artist </i></p>
  <hr class="my-4"> </center>
</div> 
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=41351120671&autoLogAppEvents=1" nonce="vGsvEkTq"></script>
<html>
<head>
<style>
body {
  background: rgba(62, 57, 70, 0.88);
  
}
</style>
</head>
<body>

<center>
<h1 style="color:white">Artist Updates:</h1>
<p style="color:white">Adam will be posting any updates through his social media.</p>
</center>
<br>
<br>
<center>
<div class="fb-page" data-href="https://www.facebook.com/adamj.johnsonmusic" data-tabs="timeline" data-width="1000" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/adamj.johnsonmusic" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/adamj.johnsonmusic">Adam J Johnson Music</a></blockquote></div>
</center>

<br>
<br>
<center>
<h1 style="color:white">Updates on Recording :</h1>
  <div class="cardbb mb-3" style="max-width: 740px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      </div>
      <p style="color:white">Although Adam has shown interest in several instruments, he has mainly focused on guitar and vocals, performing with local country musicians and as a solo act. Currently in the recording process, he intends to release his first single in early 2021.</p>
    </div>
  </div>

<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
      <small>Website By Cole Hanke</small>
  </div>
</footer>